utils/__pycache__/*
assets/__pycache__/*
input_sample/*
build/*
dist/*
dist_package/*
*.zip
__pycache__/*
**/__pycache__/
*.pyc
*.egg-info/
.venv/
.pytest_cache/
config.json
lists/*
!lists/list_sample.yaml
